html,body{
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
}

.siteWrapper{
	overflow-x:hidden;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    width: 85%;
    margin:0 auto;
    padding-top: 30px;
}

.header{
    height: 100%;
   background: transparent -webkit-linear-gradient(#6441A5, #786884) repeat scroll 0% 0%;
   background: transparent -o-linear-gradient(#6441A5, #786884) repeat scroll 0% 0%;
   background: transparent -moz-linear-gradient(#6441A5, #786884) repeat scroll 0% 0%;
   background: transparent linear-gradient(#6441A5, #786884) repeat scroll 0% 0%;
}

.navbar{
height: 100px;
margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    color: #fff;
    font-size: 1.8em;
}

.navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 15px;
}

.headerCont{
height: -webkit-calc(100% - 100px);
height: -moz-calc(100% - 100px);
height: calc(100% - 100px);
display: table;
width:85%;
margin:0 auto;
}

.headerCont-inner{
	display: table-cell;
	vertical-align: middle;
}

.headerCont-inner p{
	text-align: center;
	font-size: 3.4em;
color: #fff;
}

.headerCont-inner img{
	margin: 0px auto;
display: block;
width:40%;
margin-top:120px;
}
.textBg{
background-color: rgba(0, 0, 0, 0.1);
height: 50px;
display: inline-block;
line-height: 0.9;
}

.glNumber, .glSpeed, .word{
	font-weight: bold;
}

.glNumber{
    margin-left: 10px;
}

