<%- include('header') -%>

<h1>#<%= channelName %> stats</h1>

<p>Number of messages: <span id="numberOfMessages"></span></p>
<p>Actual speed (message/minute): <span id="messagesPerMinute"></span></p>
<p>Average speed: <span id="averageSpeed"></span></p>
<p>Most active speaker: <span id="mostActiveSpeaker"></span></p>
<p>Most popular word: <span id="mostPopularWord"></span></p>

<script src="/socket.io/socket.io.js"></script>
<script>
	
	var socket = io.connect('http://localhost:3000');

	socket.on('datas', function(datas)
	{
		console.log(datas);
		$('#numberOfMessages').text(datas.now.numberOfMessages + datas.overall.numberOfMessages);
		$('#messagesPerMinute').text(datas.now.messagesPerMinute ? datas.now.messagesPerMinute : 'Too slow!');
		$('#averageSpeed').text(datas.overall.messagesPerMinute);
		$('#mostActiveSpeaker').text(datas.now.mostActiveSpeaker);
		$('#mostPopularWord').text(datas.now.mostPopularWord);
	});

	setInterval(function()
	{
		socket.emit('needChannelDatas', '#<%= channelName %>');
	}, 100);


</script>