<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitch stats</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/critical.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="siteWrapper">
	<div class="header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <i class="fa fa-bars"></i>
		      </button>
		      <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Stats</a></li>
		        <li><a href="#">About</a></li>
		        <li><a href="#">Who</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="headerCont">
		<div class="headerCont-inner">

			<p>Total <span class="textBg">messages </span><span class="glNumber" id="nom"></span> started counting on <span class="date">14.Feb.2016</span></p>
			<p>Average Twitch <span class="textBg">speed</span> is <span class="glSpeed" id="nompm"></span> m/m</p>
			<p>Most typed <span class="textBg">word</span> is <span class="word" id="mpw"></span></p>
			<img src="img/graphic.png" alt="">
		</div>
		</div>
	</div>

	<h1>Global stats</h1>
	<p>Number of messages: <span id="nom"></span></p>
	<p>Number of messages per minutes: <span id="nompm"></span></p>
	<p>Most popular word: <span id="mpw"></span></p>
	<p>Most active speaker: <span id="map"></span></p>

	<h1>Ten last messages</h1>
	<div id="lastMessages"></div>

	<h1>Channels stats</h1>

	<p>Add a channel (need to begin with #): <input type="text" placeholder="#imote" id="channelName" /> <button type="button" id="addChannelButton">Add</button> </p>

	<div id="channels">
	</div>
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:3000');
		var numberOfMessagesDisplayed = 10;
		var timeBetweenNewMessage = 1000;
		
		var lastId = 0;
		var lastMessage = '';

		socket.on('datas', function (data)
		{
	    	$('#nom').text(data.global['numberOfMessages']);
	    	$('#nompm').text(data.global['numberOfMessagesPerMinute']);
	    	$('#mpw').text(data.global['mostPopularKeyword']);
	    	$('#map').text(data.global['mostActiveSpeaker']);

	    	var channels = $('#channels');
	    	channels.text('');

	    	for (var channel in data.channels)
			{
			    if(!data.channels.hasOwnProperty(channel)) continue;
			    
			    channels.append('<h2>' + channel + '</h2>');
			    channels.append('<p>Number of messages: ' + data.channels[channel].numberOfMessages + '</p>');
				channels.append('<p>Number of messages per minutes: ' + data.channels[channel].numberOfMessagesPerMinute + '</p>');
				channels.append('<p>Most popular word: ' + data.channels[channel].mostPopularKeyword + '</p>');
				channels.append('<p>Most active speaker: ' + data.channels[channel].mostActiveSpeaker+ '</p>');
			}
	  	});

	  	socket.on('message', function(message)
	  	{
	  		if(lastMessage == message.message)
	  			return;

	  		lastMessage = message.message;
	  		lastId += 1;
	  		var div = $('#lastMessages');
	  		var string = '<div id="message-' + lastId + '">';
	  		string += '<' + message.channel + '> ';
	  		string += '<strong>' + message.user['display-name'] + '</strong>: ';
	  		string += message.message + '<br /></div>';
	  		div.html(string + div.html());
	  		$('#message-' + (lastId - numberOfMessagesDisplayed)).remove();
	  	})

	  	setInterval(function()
	  	{
	  		socket.emit('needDatas', {});
	  	}, 100);

	  	setInterval(function()
	  	{
	  		socket.emit('needMessage', {});
	  	}, timeBetweenNewMessage);

	  	$('#addChannelButton').click(function()
	  	{
	  		socket.emit('addChannel', $('#channelName').prop('value').toLowerCase());
	  	});
	</script>

</body>
</html>
